snippet useCH "useChoice" b
const [${1:value}, ${2:handleChange}] = useChoice$4(${3:''});$0
endsnippet

snippet useT "useToggle" b
const [toggled, enable, disable, toggle] = useToggle(${1:false});$0
endsnippet
